*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
.main{
    width: 100%;

}
.front{
    border-top-left-radius: 200px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background: url(https://images.unsplash.com/photo-1486401049719-c73f3d070305?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;

}
.nav1{
    width: 100%;
    font-size: 45px;
    height: 10%;
    align-items: center;
    color: white;
    padding-left: 44%;
    font-weight: 600;
    font-style: italic;
}
.nav2{
    display: flex;
    color: white;
    gap: 40px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.second{
    width: 100vw;
    height: 30vh;
    font-size: 65px;
    background-color: rgb(250, 244, 244);
    padding-left: 35%;
    padding-top: 50px;
}
.third{
    padding: 40px;
    width: 100vw;
    background-color: rgb(250, 244, 244);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 35px;
    height: 70vh;

}
.third::-webkit-scrollbar{
    display: none;
}
#box1{
    width: 20%;
    flex-shrink: 0;
    height:100%;
    
}
#box1up img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#box1up{
    width: 100%;
    height: 70%;
}
#box1down h5{
    font-size: 25px;
    padding-left: 30px;
    padding-top: 15px;
}
#box1down h3{
    padding-left: 100px;
    padding-top: 10px;
    font-size: 20px;
}
.fourth{
    width: 100vw;
    border-radius: 250px;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1525562723836-dca67a71d5f1?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    object-fit: cover;
      
}
.fourth h1{
    font-size: 100px;
    padding-left: 40%;
    padding-top: 1%;
    font-weight: 600;
}
#view input{
    margin-left: 45%;
    height: 35px;
    background-color:transparent;
    margin-top: 2%;
    border-radius: 4px solid black;
    color: black;
}
input{
    font-size: 30px;
    width: 180px;

}
.fifth{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 60vh;

}
.box1{
    width: 30%;
    height: 80%;
    background-color: #6e2b2b;
}
.box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box2{
    width: 30%;
    height: 80%;
    background-color: #640d0d;
}
.box2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box3{
    padding: 10px;
    width: 30%;
    height: 80%;
    
}
.box3 h1{
 font-size: 45px;
 font-weight: 100;
}
.box3 p{
    font-size: 18px;
    padding-top: 25px;
}
.sixth{
    justify-content: space-evenly;
    display: flex;
    width: 100vw;
    height: 60vh;
}
.six1{
    width: 30%;
    padding: 100px;
    height: 100%;

}
.six1 h6{
    padding-bottom: 20px;
    font-size: 30px;

    
}
#icn i{
    font-size: 35px;
    gap: 20px;
}
.six2{
    width: 30%;
    height: 100%;

}
.six2 h5{
font-size: 30px;
padding-top: 100px;
padding-bottom: 10px;
}
.six3{
    padding: 20px;
    width: 30%;
    height: 100%;
}
.six3 h3{
    font-size: 30px;
    padding-left: 20px;
    padding-top: 95px

}
.six3 p{
    font-size: 20px;
}
.add{
    width: 100vw;
    height: 18vh;
    
}
